html{
  position: relative;
  min-height: 100%;
}

html, body{
  margin:0;
  padding:0;
  height:100%;
}

.wrapper{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  min-height: 100%;
  padding-bottom: 200px;
}

.clearfix {
    clear: both;
}

img { 
  max-width: 100%;
  vertical-align: middle;
}

.header{
  position: relative;
}

.header-message{
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 30%;
  padding: 50px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  background: rgba(2, 56, 54, 0.64);
}

.text-center {
  text-align: center;
}

.carousel-header{
  padding: 1px 0 1px 0;
  position: relative;
  background-color: #a2c108;
}

.carousel-header p{
  padding: 10px 0 10px 0;
}

.arrow-left{
  height: 54px;
  width: 21px;
  background: url(../images/arrow_left.png) no-repeat;
}

.arrow-right{
  height: 54px;
  width: 21px;
  background: url(../images/arrow_right.png) no-repeat;
}

.carousel-header::after{
  content:"";
  display:block;
  vertical-align:middle;
  width:0;
  height:0;
  margin:0 auto;
  position:absolute;
  left:0;
  right:0;
  z-index:100;
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #a2c108
}

.content{
  background-color: #18a292;
  padding: 50px 100px 50px 100px;
}


#owl-demo .item{
  margin: 3px;
}

#owl-demo .item.circle-art {
  z-index: 1;
  display: block;
  width: 205px;
  margin: auto;
  background: url(../images/elipse.png) no-repeat;
}

#owl-demo .item img{
  display: block;
  // width: 100%;
  height: auto;
}

#owl-demo .item{
  display: block;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  padding: 5px 9px;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
 
//To move navigation buttons outside use these settings:
 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -48px;
  top: 55px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -10px;
  top: 55px;
}

.grid{
  display: block;
}

.grid .grid-content{
  display: block;
  float: left;
  width: 40%;
  padding: 60px 5%;
}

.grid-content .accordion {
  display: block;
  overflow: hidden;
  margin-bottom: 3px;
}

.grid-content .accordion .accordion-title {
  display: block;
  height: 50px;
  text-decoration: none;
  color: #fbf1ea;
  background-color: #18a292;
  background-image: url(../images/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 20px auto;
}

.grid-content .accordion .accordion-title h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: 16px;
}

.grid-content .accordion .accordion-body {
  display: none;
  height: 0;
  padding: 16px;
  background-color: #ededed;
}

.grid-content .accordion .accordion-body p+p {
  margin-top: 30px;
}

.grid-content .accordion .accordion-title.active+.accordion-body {
  display: block;
  height: auto;
}

.details {
  max-width: 420px;
  margin: auto;
  border: solid 1px #ededed;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(31, 19, 16, .16);
  box-shadow: 0 2px 3px 0 rgba(31, 19, 16, .16);
}

.details-header-text{
  padding: 10px;
}

.details .details-header h2{
  margin: 0;
}

.details .details-header {
  font-size: 23px;
  font-weight: 300;
  margin: -1px;
  padding: 10px;
  text-align: center;
  color: #fff;
  border: solid 1px #bebebe;
  border-radius: 20px 20px 0 0;
  background-color: #107065;
}

.details .details-body {
  font-size: 16px;
  font-weight: 400;
  padding: 30px 50px 50px;
  color: #868686;
}

.details .input-field {
  display: block;
  padding: 7px 2px;
  border-bottom: 1px solid #868686;
}

.details .input-field input {
  font-size: 16px;
  line-height: 30px;
  height: 35px;
  margin: 5px 0 0 0;
  padding: 0 10px;
  border: 0;
}

.details .input-field input:focus {
  outline: none;
}

.details .btn-submit {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 70px auto 0;
  padding: 14px 80px;
  text-transform: uppercase;
  color: #164b3f;
  border: none;
  border-radius: 10px;
  background: #a2c108;
}

.footer {
  position: absolute;
  bottom: 0;
  line-height: 180px;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #1d353e;
}

@media (max-width: 1024px){
  .wrapper {
    width: 750px;
  }
  .grid{
      padding: 15px 0px;
  }
  .grid .grid-content {
      display: block;
      float: none;
      width: 90%;
      padding: 15px 5%;
  }
}
@media (max-width: 768px){
  .content{
    padding: 50px;
  }
  .wrapper {
    width: auto;
  }
  .details .input-field label{
      display: block;
  }

  .details .input-field input {
      display: block;
  }
  .header-message {
    position: static;
    font-size: inherit;
    padding: 5px 20px;
    right: auto;
    display: block;
    width: auto;
    color: #fff;
    background: rgb(2, 56, 54);
     -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
     transform: none;
  }
}
